@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    font-size: 14px;
    background: hsl(230, 17%, 14%);
}

.container{
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

.header{
    padding: 3rem 0;
    background: hsl(232, 19%, 15%);
    height: 16rem;
}

.container h2{
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
}

.container h4,span{
    color:hsl(228, 34%, 66%);
}

.container h4{
    margin-bottom: 1.5rem;
}

.container hr{
    color:hsl(228, 34%, 66%);
     height: 0.1px;
     margin-bottom: 1.5rem;
}

.switch{
position: relative;
width: 60px;
height: 30px;
display: inline-block;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    cursor: pointer;
    transition: 0.3s all linear;
    border-radius: 34px;
}

.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: hsl(230, 17%, 14%);
    transition: 0.3s all linear;
    border-radius: 50%;
}

input:checked + .slider {
    background:hsl(230, 22%, 74%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }


.text{
    float: left;
}

.switch{
    float: right;
}


.cards{
  display: grid;
  place-items: center;
  padding-top: 4rem;
transform: translateY(-7.5%);
}

.container-card{
    display: grid;
    place-items: center;
}

.card{
    background: hsl(228, 28%, 20%);
    width: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    transition: 0.3s all linear;
    margin-bottom: 1.8rem;
}

.card-img{
    margin-right: 0.5rem;
    transform: translateY(30%);
}

.card h1{
    margin-top: 2rem;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.3rem;
}

.card p{
    letter-spacing: 0.3rem;
    color: hsl(228, 34%, 66%);
    margin-bottom: 2rem;
}

.up-icon{
    margin-right: 0.1rem;
}


.increase{
    color:  hsl(163, 72%, 41%);
}

.decrease{
   color: hsl(356, 69%, 56%)
}

.card::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5%;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.card-facebook::before{
    background: hsl(208, 92%, 53%);
}

.card-twitter::before{
    background: hsl(203, 89%, 53%);
}

.card-instagram::before{
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.card-youtube::before{
    background: hsl(348, 97%, 39%);
}


.card:hover{
  background: hsl(228, 28%, 30%);
}

@media screen and (min-width:768px){

.header{
    height: 18rem;
}

.text{
    float: right;
    transform:translate(-200%, 40%)
}

.cards{
    transform: translateY(-18%);
}

.container-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}


@media screen and (min-width:992px){
    .header{
        height: 22rem;
    }
    
    .cards{
        transform: translateY(-50%);
    }

    .container-card{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.4rem;
    }
}

.overview{
    margin-top: -2rem;
}

.container-overview h2{
    margin-bottom: 2rem;
}

.overview-cards{
    display: grid;
    place-items: center;
}

.overview-card{
    background: hsl(228, 28%, 20%);
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    border-radius: 10px;
    position: relative;
    margin-bottom: 1.8rem;
}


.overview-card:hover{
    background: hsl(228, 28%, 30%);
  }

.overview-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.overview-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-card p{
    color:hsl(228, 34%, 66%);
}

.overview-footer h2{
    font-size: 32px;
    align-self: center;
}

.overview-increase{
    color: hsl(163, 72%, 41%);
    align-self: flex-start;
}

.overview-decrease{
    color: hsl(348, 97%, 39%);
    align-self: flex-start;
}

@media screen and (min-width:768px){
    .overview-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
}

@media screen and (min-width:992px){

.overview{
    margin-top: -10%;
}

    .overview-cards{
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}

.white{
    background: hsl(0, 0%, 100%);
}

.header-bg{
    background:hsl(225, 100%, 98%);
}


.card-bg{
    background:hsl(227, 47%, 96%);
}

.overview-card-bg{
    background:hsl(227, 47%, 96%);
}

.heading1{
    color: hsl(230, 17%, 14%);
}

.container .heading1{
   color: hsl(230, 17%, 14%);
}

.card .follower{
    color: hsl(228, 12%, 44%);
}

.container .subheading1{
    color:hsl(228, 12%, 44%);
}

.card .number1{
    color:hsl(230, 17%, 14%);
}

.overview-footer .number3{
    color:hsl(230, 17%, 14%);
}

.overview-header .heading2{
    color: hsl(228, 12%, 44%);
}